{%extends 'main/profile.html'%} {%load static%}{%load i18n%} {%block section%}
<div style="height: 80vh">
  <div style="margin: 40px 20px">
    <h3 style="text-align: center; margin-top: 20px">
      {% trans "Floxix Online Banking Bills Payment" %}
    </h3>

    <form
      action=""
      class="first_transfer_form_section"
      style="display: flex; justify-content: center"
    >
      <div>
        <label for="" style="font-weight: bold">{% trans "Select Account" %}</label>
        <div class="form-border" style="width: 100%">
          <div
            style="
              display: flex;
              gap: 20px;
              align-items: center;
              justify-content: space-between;
            "
          >
            <div>
              <i
                class="fa-solid fa-dollar-sign fa-lg"
                style="color: #ffd43b"
              ></i>
            </div>
            <p style="margin: 0">
              {% trans "Checking Account" %} ({% for profile in user_profile %}{{ profile.currencies }}{% endfor %}) <br />
              <span style="font-size: 12px"
                >{% trans "Available Balance" %}: {% for profile in user_profile %}{{ profile.currencies }}{% endfor %} {{u_profile.amount }}</span
              >
            </p>
          </div>
          <div><i class="fa-solid fa-arrow-down fa-2xs"></i></div>
        </div>
        <div style="display: flex; flex-wrap: wrap; gap: 40px">
          <div>
            <label> {% trans "Select a bill to pay" %} </label>
            <select
              class="form-border"
              style="background-color: rgb(2, 32, 62); color: white"
            >
              <option>{% trans "Select a bill to pay" %}</option>
              <option>{% trans "no bills yet" %}</option>
            </select>
          </div>
          <div>
            <label> {% trans "Choose delivery date" %} </label>
            <div class="form-border">
              <input class="form-border-input" type="date" name="" id="" />
            </div>
          </div>
        </div>
        <label style="font-size: 16px; font-weight: bold"
          >{% trans "Amount to Transfer" %}</label
        >
        <div class="form-border" style="width: 100%">
          <div
            style="
              display: flex;
              justify-content: space-between;
              align-items: baseline;
              width: 100%;
            "
          >
            <input
              class="form-border-input amount-input"
              style="width: 100%"
              name="amount"
              placeholder="2000"
              min="5"
              required
            />
            <p>{% for profile in user_profile %}{{ profile.currencies }}{% endfor %}</p>
          </div>
        </div>
        <div
          style="
            display: flex;
            justify-content: space-between;
            margin-top: -15px;
            font-size: 12px;
          "
        >
          <p></p>
          <p>*{% trans "Bill pay fee will be deducted" %}</p>
        </div>

        <div class="form-border" style="width: 100%">
          <div
            style="
              display: flex;
              justify-content: space-between;
              align-items: baseline;
              width: 100%;
            "
          >
            <input
              class="form-border-input"
              style="width: 100%"
              type="text"
              name="description"
              placeholder="{% trans 'Memo (optional)' %}:"
            />
            <p><i class="fa-solid fa-comment-dots"></i></p>
          </div>
        </div>
        <button
          type="submit"
          style="margin-bottom: 100px; width: 100%"
          id="blueButton"
          class="btn btn-primary transfer-button"
        >
          {% trans "Continue" %}
        </button>
        <div class="modal fade" id="Processing" tabindex="-1" role="dialog" aria-labelledby="loadingModalTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                  <div class="modal-body text-center">
                      <div class="spinner-border text-primary" role="status">
                          <span class="sr-only">{% trans "Loading..." %}</span>
                      </div>
                      <p>{% trans "Processing your transfer..." %}</p>
                  </div>
              </div>
          </div>
      </div>
      </div>
    </form>
  </div>
</div>
{%endblock section%}
